.button {
    display: flex;
    gap: 20px;

    &__input {
        width: 100%;
        padding: 15px 120px;
        border-radius: 50px;
        border: 1px solid #000;

        &:last-child {
            background-color: gold;
            border: none;
        }
    }
}
